name: Android Debug Build

on:
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.13"

      # Decode Keystore ve Signing kısımlarını debug build için sildik/devre dışı bıraktık
      
      - name: Build Debug APK
        run: ./gradlew assembleDebug
        env:
          VERSION_NAME: "debug-test"

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: KunBox-Debug-APK
          path: app/build/outputs/apk/debug/*.apk
